<div class="o-container">
  <div class="o-grid">
    <% @teams.each do |team| %>
      <div class="o-grid__el u-size-12/12 u-size-12/12@xs u-size-6/12@md u-size-3/12@xl">
        <%= render partial: 'teams/partials/team_constitution', locals: {team: team} %>
      </div>
    <% end %>
  </div>
</div>
