<div class="o-container">
  <div class="o-grid">
    <% @people.each do |person| %>
      <div class="o-grid__el u-size-12/12 u-size-12/12@xs u-size-6/12@md u-size-3/12@xl">
        <%= link_to assign_path(person.id), class: 'c-button__link' do%>
          <button class="c-button c-button-grid"><%= person.name %></button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
