<div class="o-container">
  <div class="o-list">
    <% @teams.each do |team| %>
      <div class="o-list-el">
        <h1><%= team.name %>: &nbsp; <%= team.score %> points!</h1>
      </div>
    <% end %>
  </div>
</div>
