/*
    TOOLS.FUNCTIONS.ICONSET
    ----

    Create icon set from svg 
* ==================================================== */
//HEX to URL
//needed to force compatibilty of fill on inline svg in Firefox
//does not work with colors containing alpha
@function encodeColor($string) {
  @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
  @return $string;
}

/// Create svgIconset
@function buildIcon($icon) {
  $icon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40">#{$icon}</svg>';
  @return $icon;
}

@function icon($icon-name, $stroke-color){
  $icons:(iconPaths($stroke-color));
  $icon: buildIcon(map-get($icons, $icon-name));
  @return url('data:image/svg+xml;utf8,#{$icon}');
}