<div class="c-team" style="background-color: <%= team.color1 %>; color: <%= team.color2 %>; font-weight: bold;">
  <section class="c-team__body">
    <p class="c-team__info"><span>Founder</span>: <%= team.founder %></p>
    <p class="c-team__info"><span>Values</span>: <%= team.values.join(', ') %></p>
  </section>
</div>

